<div class="container">
    <br/>
    <div class="panel">
        <div class="panel-head" ng-click="">
            محمد
            <span class="date">1396/04/02</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-3">
                <span><b>نوع: </b><i>ویزیتور</i></span>
                <span><b>شماره تلفن: </b><i>09161236638</i></span>
                <span><b>شناسه کاربری: </b><i>mohammad123</i></span>
            </div>
        </div>
        <div class="normal-row">
            <button class="button" style="margin-right: 10px;">غیرفعال کردن</button>
            <button class="button" style="margin-right: 10px;">مشاهده ی فعالیت ها</button>
            <button class="button">حذف</button>
        </div>
        <br/>
    </div>
    <br/>
    <div class="panel">
        <div class="panel-head" ng-click="">
            محسن
            <span class="date">1396/04/02</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-3">
                <span><b>نوع: </b><i>ویزیتور علمی</i></span>
                <span><b>شماره تلفن: </b><i>09161236638</i></span>
                <span><b>شناسه کاربری: </b><i>mohsen12</i></span>
            </div>
        </div>
        <div class="normal-row">
            <button class="button" style="margin-right: 10px;">غیرفعال کردن</button>
            <button class="button" style="margin-right: 10px;">مشاهده ی فعالیت ها</button>
            <button class="button">حذف</button>
        </div>
        <br/>
    </div>
    <br/><br/><br/><br/><br/><br/>
</div>
<script>
    $(document).ready(function () {
        $('.tooltip').tooltipster({
            theme: 'tooltipster-borderless'
        });
    });
</script>