<div class="container">
    <div class="header-row col-2-normal">
        <span><b> مرکز پخش: </b><i>
                <select class="comp" multiple="multiple" ng-model="visitor">
                    <option value="all" selected="true">همه</option>
                    <option> مرکز پخش ۱</option>
                    <option> مرکز پخش ۲</option>
                </select>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b> ویزیتور: </b><i>
                <select class="comp" multiple="multiple" ng-model="visitor">
                    <option value="all" selected="true">همه</option>
                    <option>ویزیتور ۱</option>
                    <option>ویزیتور ۲</option>
                </select>
            </i></span>
        <span><b> وضعیت: </b><i>
                <select class="comp" multiple="multiple" ng-model="status">
                    <option value="all" selected="true">همه</option>
                    <option>در انتظار تایید مرکز پخش</option>
                    <option>انتقال یافته به ویزیتور دیگر</option>
                    <option>تایید شده توسط مرکز پخش</option>
                </select>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b> از تاریخ:‌ </b><i>
                <input type="text" class="datepicker input-center"/>
            </i></span>
        <span><b> تا تاریخ:‌ </b><i>
                <input type="text" class="datepicker input-center"/>
            </i></span>
    </div>
    <br/>
    <div class="panel">
        <div class="panel-head" ng-click="showCurr($event, true)">
            ویزیت شماره ی ۲
            <span class="date">1396/04/02</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-3">
                <span><b>نام داروخانه: </b><i>فتاح الجنان</i></span>
                <span><b>وضعیت: </b><i>در انتظار</i></span>
                <span><b>نام ویزیتور: </b><i>ویزیتور ۱</i></span>
            </div>
            <h4>توضیحات : </h4>
            <div class="area area-90">
                توضیحات ویزیت
            </div>
        </div>
        <br/>
        <span class="help" ng-click="showCurr($event, true)">مشاهده ی بیشتر</span>
    </div>
    <div class="panel">
        <div class="panel-head" ng-click="showCurr($event, true)">
            ویزیت شماره ی 3
            <span class="date">1396/04/02</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-3">
                <span><b>نام داروخانه: </b><i>فتاح الجنان</i></span>
                <span><b>وضعیت: </b>تحویل داده شده</i></span>
                <span><b>نام ویزیتور: </b><i>ویزیتور ۱</i></span>
            </div>
            <h4>توضیحات : </h4>
            <div class="area area-90">
                توضیحات ویزیت
            </div>
        </div>
        <br/>
        <span class="help" ng-click="showCurr($event, true)">مشاهده ی بیشتر</span>
    </div>
    <br/><br/><br/><br/><br/><br/>
</div>
<script>
            $(document).ready(function () {
                $('.tooltip').tooltipster({
                    theme: 'tooltipster-borderless'
                });
                $("select.comp").select2({
                    dir: "rtl"
                });
                $(".datepicker").persianDatepicker({format: 'YYYY/MM/DD HH:mm:ss', timePicker: {enabled: true}});
            });
</script>