<div class="container">
    <form name="new_visitor_form">
    <div class="header-row col-2-normal">
        <span><b> شهر: </b><i>
                <select class="comp city" ng-model="city">
                    <option value="{{x.id}}" ng-repeat="x in city_select">{{x.name}}</option>
                </select>
            </i></span>
        <span><b> منطقه: </b><i>
                <select class="comp" ng-model="area">
                    <option value="all" selected="selected">همه</option>
                </select>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>نام: </b><i>
                <input type="text" ng-model="fname" required/>
            </i></span>
        <span><b>نام خانوادگی:‌ </b><i>
                <input type="text" ng-model="lname" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>تاریخ تولد:‌  </b><i>
                <input type="text" class="center-text datepicker just-date" ng-model="birthday" required/>
            </i></span>
        <span><b> کد ملی:  </b><i>
                <input type="text" ng-model="code" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b> تلفن ثابت:‌  </b><i>
                <input type="text" ng-model="fixed_phone" required/>
            </i></span>
        <span><b> موبایل:  </b><i>
                <input type="text" ng-model="mobile" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>معرف / نحوه ی آشنایی :‌ </b><i>
                <input type="text" ng-model="type_ack" required/>
            </i></span>
        <span><b> رشته ی تحصیلی: </b><i>
                <input type="text" ng-model="grade" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>شناسه ی کاربری: </b><i>
                <input type="text" ng-model="uname" required/>
            </i></span>
        <span><b>کلمه ی عبور:‌ </b><i>
                <input type="text" ng-model="password" required/>
            </i></span>
    </div>
    <h3> آدرس: </h3>
    <textarea ng-model="address" required>
    </textarea>
    <h3>سوابق تحصیلی / تخصصی :‌ </h3>
    <textarea ng-model="grade_exp" required>
    </textarea>
    <h3>سوابق شغلی و آموزشی : </h3>
    <textarea ng-model="work_exp" required>
    </textarea>
    <h3>توضیحات : </h3>
    <textarea ng-model="desc" required>
    </textarea>
    <div class="header-row col-2-normal">
        <span><b>تصویر پرسنلی</b><i>
            </i></span>
        <span><b>فایل : </b><i>
                <input type="file" fileread="pic1" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>تصویر کارت ملی</b><i>
            </i></span>
        <span><b>فایل : </b><i>
                <input type="file" fileread="pic2" required/>
            </i></span>
    </div>
    <div class="normal-row">
        <button class="button" ng-click="docs[docs.length] = {desc : null, file : null};">
            افزودن سند
        </button>
    </div>
    <div class="header-row col-2-normal" ng-repeat="x in docs">
        <span><b>توضیحات : </b><i>
                <input type="text" ng-model="x.desc" required/>
            </i></span>
        <span><b>فایل : </b><i>
                <input type="file" fileread="x.file" required/>
            </i></span>
    </div>
    <br/>
    <hr/>
    <div class="normal-row">
        <button class="button" style="margin: 0 auto; float: none !important;" ng-click="submitThis()">
            ثبت ویزیتور
        </button>
    </div>
    <br/><br/><br/><br/><br/>
    </form>
</div>
<script>
    $(document).ready(function () {
    $("select.comp").select2({
    dir: "rtl"
    });
    $(".datepicker.just-date").persianDatepicker({format: 'YYYY/MM/DD', timePicker: {enabled: false}});
    $(".datepicker:not(.just-date)").persianDatepicker({format: 'YYYY/MM/DD HH:mm:ss', timePicker: {enabled: true}});
    });</script>
