<div class="container">
    <br/>
    <div class="panel">
        <div class="panel-head" ng-click="showCurr($event, true)">
            درخواست ۱
            <span class="date">1396/04/02</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-2">
                <span><b>تاریخ: </b><i>پنجشنبه  2 تیر 1396 ساعت 02:03</i></span>
                <span><b>وضعیت: </b><i>تایید نشده</i></span>
            </div>
            <h4>توضیحات : </h4>
            <div class="area area-90">
                توضیحات درخواست
            </div>
        </div>
        <br/>
        <span class="help" ng-click="showCurr($event, true)">مشاهده ی بیشتر</span>
    </div>
    <br/>
    <div class="panel">
        <div class="panel-head" ng-click="showCurr($event, true)">
            درخواست ۲
            <span class="date">1396/04/02</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-2">
                <span><b>تاریخ: </b><i>پنجشنبه  2 تیر 1396 ساعت 02:10</i></span>
                <span><b>وضعیت: </b><i>تایید شده</i></span>
            </div>
            <h4>توضیحات : </h4>
            <div class="area area-90">
                توضیحات درخواست
            </div>
        </div>
        <br/>
        <span class="help" ng-click="showCurr($event, true)">مشاهده ی بیشتر</span>
    </div>
    <br/>
    <div class="panel">
        <div class="panel-head" ng-click="showCurr($event, true)">
            درخواست 3
            <span class="date">1396/04/02</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-2">
                <span><b>تاریخ: </b><i>پنجشنبه  2 تیر 1396 ساعت 02:00</i></span>
                <span><b>وضعیت: </b><i>تمام شده</i></span>
            </div>
            <h4>توضیحات : </h4>
            <div class="area area-90">
                توضیحات درخواست
            </div>
        </div>
        <br/>
        <span class="help" ng-click="showCurr($event, true)">مشاهده ی بیشتر</span>
    </div>
    <br/><br/><br/><br/><br/><br/>
</div>
<script>
    $(document).ready(function () {
        $('.tooltip').tooltipster({
            theme: 'tooltipster-borderless'
        });
    });
</script>