<div class="area fade-animation" ng-show="drugstore == 'make_new'">
    <div class="nrow">
        <div class="normal-row span-5"><label>نام داروخانه : </label><input type="text" ng-model="ds.ds_name" required/></div>
        <div class="normal-row span-5"><label>نام مسئول فنی: </label><input type="text" ng-model="ds.ds_fanni_name" required/></div>
    </div>
    <div class="nrow">
        <div class="normal-row span-10"><label>شماره تلفن: </label><input type="text" ng-model="ds.phone_number" required/></div>
    </div>
    <div class="nrow">
        <div class="normal-row span-10"><label>آدرس: </label><input type="text" ng-model="ds.address" required/></div>
    </div>
    <div class="nrow">
        <div class="normal-row span-10"><label>میزان آشنایی داروخانه با محصولات سینا فراور :  </label><input type="text" ng-model="ds.knowledge" required/></div>
    </div>
    <div class="header-row row-100">
        <span class="span-5"><b> بهترین زمان ویزیت: </b><i>
                <select class="comp" ng-model="ds.best_visit_time">
                    <option value="3" selected="selected">صبح و عصر</option>
                    <option value="2">صبح</option>
                    <option value="1">عصر</option>
                </select>
            </i></span>
        <span class="span-5"><b>نوع داروخانه : </b><i>
                <select class="comp" ng-model="ds.type">
                    <option value="1" selected="selected">دولتی</option>
                    <option value="2">خصوصی</option>
                    <option value="3">شبانه روزی</option>
                    <option value="4">بیمارستانی</option>
                </select>
            </i></span>
    </div>
    <div class="header-row row-100">
        <span class="span-10"><b>آیا با نام داروسازی سینا فرآور آشنایی دارند؟ دلیل:</b><i>
                <select class="comp" ng-model="ds.company_name_ack">
                    <option value="1" selected="selected">ویزیت</option>
                    <option value="2">تبلیغات</option>
                    <option value="3">همایش</option>
                    <option value="4">از طریق توزیع</option>
                </select>
            </i></span>
    </div>
    <div class="normal-row">
        <button class="button" style="margin-right: 10px;">ذخیره</button>
        <button class="button" ng-click="drugstore = 'none'">لغو</button>
    </div>
</div>