<div class="container">
    <form name="new_request_form">
    <h3>توضیحات : </h3>
    <textarea ng-model="desc" required>
    </textarea>
    <h3>درخواست : </h3>
    <textarea ng-model="request" required>
    </textarea>
    <div class="normal-row">
        <button class="button" ng-click="content_drugs[content_drugs.length] = {drug : null, num : null}; reInit();">
            افزودن دارو
        </button>
    </div>
    <div class="header-row col-2-normal" ng-repeat="x in content_drugs">
        <span class="span-5"><b>دارو : </b><i>
                <select ng-model="x.drug">
                    <option value="{{x.id}}" ng-repeat="x in _drugs_list">{{x.name}}</option>
                </select>
            </i></span>
        <span class="span-5"><b>تعداد : </b><i>
                <input type="number" ng-model="x.num" required/>
            </i></span>
    </div>
    <br/>
    <hr/>
    <div class="normal-row">
        <button class="button" style="margin: 0 auto; float: none !important;" ng-click="submitThis()">
            ثبت درخواست
        </button>
    </div>
    <br/><br/><br/><br/><br/>
    </form>
</div>
<script>
    $(document).ready(function () {
    $("select.comp").select2({
    dir: "rtl"
    });
    $(".datepicker").persianDatepicker({format: 'YYYY/MM/DD HH:mm:ss', timePicker: {enabled: true}});
    });</script>
