<div class="container">
    <h3>تغییر پسورد</h3>
    <div class="header-row col-2-normal">
        <span><b>پسورد جدید :‌ </b><i>
                <input type="password" ng-model="fpass"/>
            </i></span>
        <span><b>تکرار پسورد جدید : </b><i>
                <input type="password" ng-model="lpass"/>
            </i></span>
    </div>
    <div class="normal-row">
        <button class="button" ng-click="changePass()">
            تغییر پسورد
        </button>
    </div>
    <div class="header-row col-2-normal">
        <span><b>نام:‌ </b><i>
                {{info.fname}}
            </i></span>
        <span><b>نام خانوادگی: </b><i>
                {{info.lname}}
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>تاریخ تولد:  </b><i>
                {{info.birthday}}
            </i></span>
        <span><b>کد ملی: </b><i>
                {{info.code}}
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>تلفن ثابت:  </b><i>
                {{info.fixedPhone}}
            </i></span>
        <span><b>موبایل: </b><i>
                {{info.mobile}}
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>معرف:  </b><i>
                {{info.ack}}
            </i></span>
        <span><b>رشته ی تحصیلی: </b><i>
                {{info.grade}}
            </i></span>
    </div>
    <h3>آدرس: </h3>
    <div class="area area-90">
        {{info.address}}
    </div>
    <h3>سوابق تحصیلی: </h3>
    <div class="area area-90">
        {{info.gradeExp}}
    </div>
    <h3>سوابق شغلی: </h3>
    <div class="area area-90">
        {{info.workExp}}
    </div>
    <br/><br/><br/><br/>
</div>
