<div class="container">
    <h3>تغییر پسورد</h3>
    <div class="header-row col-2-normal">
        <span><b>پسورد جدید :‌ </b><i>
                <input type="password" ng-model="fpass"/>
            </i></span>
        <span><b>تکرار پسورد جدید : </b><i>
                <input type="password" ng-model="lpass"/>
            </i></span>
    </div>
    <div class="normal-row">
        <button class="button" ng-click="changePass()">
            تغییر پسورد
        </button>
    </div>
    <br/><br/><br/><br/>
</div>
